@use 'abstracts/functions';
@use 'abstracts/variables';

:host {
  padding: functions.to-rem(20px);
  display: block;
  background-color: variables.$color-card-bg;
  border: 1px solid variables.$color-primary;
  border-radius: functions.to-rem(30px);
}

header {
  margin-bottom: functions.to-rem(16px);
}

footer {
  margin-top: functions.to-rem(16px);
}
