$font-main: var(--font-main);
$font-proxima: var(--font-proxima);
$font-size: var(--font-size);

$color-primary: var(--p-primary-500);
$color-bg: var(--color-bg);
$color-text: var(--color-text);
$color-card-bg: var(--color-card-bg);
$color-selection: var(--color-selection);
$color-yellow-rgb: var(--color-yellow-rgb);
