<app-container mode="center">
  <header>
    <app-heading
      [h]="2"
      text="Топ фильмов по версии бабы Кати"
      mode="bordered bordered_2"
    ></app-heading>

    <div class="toolbar">
      <div class="search">
        <input
          pInputText
          [formControl]="searchControl"
          placeholder="Поиск"
          aria-describedby="search by list item name"
        />
      </div>

      <p-button
        (click)="toggleAdding()"
        label="Добавить фильм"
        variant="outlined"
      ></p-button>
    </div>
  </header>

  @if (isAdding) {
    <div class="new">
      <app-add-movie
        (valueChanged)="addMovie($event)"
      ></app-add-movie>
    </div>
  }
</app-container>

<app-container mode="full">
  <ul>
    @for (item of list(); track item.id) {
      <li>
        <app-movie
          [movie]="item"
        ></app-movie>
      </li>
    }
  </ul>
</app-container>
