<form [formGroup]="formGroup">
  <app-card>
    <app-card-header
      [title]="movie().name"
      [isEditing]="isEditing"
    >
      <div>
        <label for="{{ 'movie_' + movie().id + 'name' }}">{{ 'app.name' | translate }}</label>
      </div>

      <input
        pInputText
        id="{{ 'movie_' + movie().id + 'name' }}"
        formControlName="name"
      />
    </app-card-header>

    <!--<div class="card-header">
      @if (isEditing) {
        <div>
          <label for="{{ 'movie_' + movie().id + 'name' }}">{{ 'app.name' | translate }}</label>
        </div>

        <input
          pInputText
          id="{{ 'movie_' + movie().id + 'name' }}"
          formControlName="name"
        />
      } @else {
        <app-heading
          [h]="3"
          [text]="movie().name"
          mode="bordered bordered_3"
        ></app-heading>
      }
    </div>-->

    <div class="card-body">
      @if (isEditing) {
        <label for="{{ 'movie_' + movie().id + 'isOnline' }}">{{ 'app.online' | translate }}:</label>

        <p-checkbox
          id="{{ 'movie_' + movie().id + 'isOnline' }}"
          inputId="{{ 'movie_' + movie().id + 'isOnline' }}"
          binary="true"
          formControlName="isOnline"
        />
      } @else {
        {{ 'app.online' | translate }}: {{ movie().isOnline ? ('app.yes' | translate) : ('app.no' | translate) }}
      }
    </div>

    <div class="card-actions">
      <p-button
        (click)="deleteMovie(movie().id)"
        icon="pi pi-trash"
        size="small"
        variant="outlined"
        aria-label="Delete item"
      ></p-button>

      @if (isEditing) {
        <p-button
          (click)="saveMovie()"
          icon="pi pi-check"
          size="small"
          variant="outlined"
          aria-label="Save item"
        ></p-button>
      } @else {
        <p-button
          (click)="toggleEditing()"
          icon="pi pi-pencil"
          size="small"
          variant="outlined"
          aria-label="Delete item"
        ></p-button>
      }
    </div>
  </app-card>
</form>
