<form [formGroup]="formGroup">
  <app-card>
    <app-card-header
      [isEditing]="true"
    >
      <div>
        <label for="movie_new_name">{{ 'app.name' | translate }}</label>
      </div>

      <input
        pInputText
        id="movie_new_name"
        formControlName="name"
      />
    </app-card-header>

    <div class="card-body">
      <label for="movie_new_isOnline">{{ 'app.online' | translate }}:</label>

      <p-checkbox
        id="movie_new_isOnline"
        inputId="movie_new_isOnline"
        binary="true"
        formControlName="isOnline"
      />
    </div>

    <div class="card-actions">
      <p-button
        (click)="saveMovie()"
        [label]="'app.save' | translate"
        variant="outlined"
      ></p-button>
    </div>
  </app-card>
</form>
